.container.main-container {
  max-width: 80rem;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}
button[data-class="false"] {
  border-color: #e51668 !important;
  color: #e51668 !important;
}
button[data-class="false"]:hover {
  background-color: #e51668 !important;
  color: #fff !important;
  cursor: no-drop;
}
button[data-class="true"] {
  border-color: #11afde !important;
  color: #11afde !important;
}
button[data-class="true"]:hover {
  background-color: #11afde !important;
  color: #fff !important;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

