.container.main-container {
  max-width: 80rem;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}
button[data-class="false"] {
  border-color: #e51668 !important;
  color: #e51668 !important;
}
button[data-class="false"]:hover {
  background-color: #e51668 !important;
  color: #fff !important;
  cursor: no-drop;
}
button[data-class="true"] {
  border-color: #11afde !important;
  color: #11afde !important;
}
button[data-class="true"]:hover {
  background-color: #11afde !important;
  color: #fff !important;
}

